.DS_Store*
*.swp
src/mac/xcodebuild
src/mac/xcodebuild/*

*.pbxuser
*.perspective
*.perspective3
*xcuserdata*
*.esproj

*.pdb
*.ilk
*.sdf
*.opensdf
*.suo
*.vcxproj.user
src/win/Release/obj/*
src/win/Debug/obj/*
src/win/ipch/*
*.log

